body {
    padding-bottom: 20px;
    background-color: #6a43e9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    /*    white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
}

.body-ground {
    background-color: #411182;
    background-image: url('img/фон темныйpsd.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-page {
    height: 100vh;
}

.search-border {
    border-radius: 30px;
}

.user {
    font-style: italic;
    color: red;
}

.none {
    color: yellow;
    text-transform: uppercase;
}

#discussion {
}

.chat-area {
    background-color: rgba(76,76,79,0.6);
    border-radius: 2em;
    margin-top: 1em;
}

.forum-body {
    background-color: #37274b;
}

/*<--------Forum----------->*/
.forum-new-button {
    color: #3e3e3e;
    background-color: white;
    text-decoration: solid;
    border-radius: 20px;
    border-color: transparent;
}

.blog-row {
    background-color: #7447AB;
    margin-top: 1em;
}

.blog-col {
    padding: 5px;
}

.blog-post {
    border: 2px #391655;
    background-color: rgba(160,160,160,0.3);
}

.blog-post-title {
    color: aliceblue;
    text-decoration: solid;
    font-size: 20px;
}

.blog-post-meta {
    color: #3E3E3E;
    font-size: 12px;
}

.blog-post-body {
    display: flex;
}

    .blog-post-body p {
        font-size: 14px;
        color: white;
    }

    .blog-post-body a {
        color: white;
    }

.blog-bottom {
}

.blog-post-answers {
}

.blog-answer {
}