body {
    padding-bottom: 20px;
    background-color: #6a43e9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    /*    white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
}

.body-ground {
    background-color: #411182;
    background-image: url('img/фон темныйpsd.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-page {
    height: 100vh;
}

.search-border {
    border-radius: 30px;
}

.user {
    font-style: italic;
    color: red;
}

.none {
    color: yellow;
    text-transform: uppercase;
}

#discussion {
}

    #discussion .MenegerMessage