body {
    padding-bottom: 20px;
    background-color: #6a43e9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    /*    white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 550px;
}

.body-ground {
    background-color: #411182;
    background-image: url('img/фон темныйpsd.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-page {
    height: 100vh;
}

.search-border {
    border-radius: 30px;
}

.user {
    font-style: italic;
    color: red;
}

.none {
    color: yellow;
    text-transform: uppercase;
}

#discussion {
}

.chat-area {
    background-color: rgba(76,76,79,0.6);
    border-radius: 2em;
    margin-top: 1em;
}

.forum-body {
    background-color: #37274b;
}

.send-message {
}

.send-btn {
    display: flex;
    justify-content: end;
    margin-right: 2em;
    max-width: 550px;
    margin-top: 10px;
}

.blog-bottom {
    display: flex;
    justify-content: space-between;
}

.details-link a {
    color: white;
}
/*<--------Forum----------->*/
.forum-new-button {
    color: #3e3e3e;
    background-color: white;
    text-decoration: solid;
    border-radius: 20px;
    border-color: transparent;
}

.blog-row {
    background-color: #7447AB;
    margin-top: 1em;
}

.blog-col {
    padding: 5px;
}

.blog-post {
    border: 2px #391655;
    background-color: rgba(160,160,160,0.3);
    margin-bottom: 7px;
}

.blog-post-title {
    color: aliceblue;
    text-decoration: solid;
    font-size: 20px;
}

.blog-post-meta {
    color: #3e3e3e;
    font-size: 12px;
}

.blog-post-body {
    display: flex;
    color: lightgray;
    font-size: 14px;
}

    .blog-post-body p {
    }

    .blog-post-body a {
        color: white;
    }

.blog-bottom {
}

.blog-post-answers {
}

.blog-answer {
}

.post-blog-chose {
    text-decoration: none;
}

    .post-blog-chose:hover {
        text-decoration: none;
    }
/*<---------------------- details ---------------------->*/
.discussion {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #a78ef3;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

discussion-head {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #322a4b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.discussion-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: rgba(256, 256, 256, 0.4)
}