@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container eror-page">
    <h2 class="error-title">Чтото пошло не так :(</h2>
    @Html.ActionLink("Вернутся на главную", "Index", "Main", new { @class = "" })
</div>